.timer {
    position: absolute;
    top: 10px;
    right: 30px;
}

h1 {
    text-align: center;
}

.start-btn {
    text-align: center;
}

.intro-text {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: .1rem solid black;
    border-radius: 5px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    color: navy;
}